* {
    box-sizing: border-box;
}
.nav-header {
    background-color: #294836;
    color: #a7b6a7;
    overflow: hidden;
}
.nav a{
    color: #a7b6a7;
}
.nav a:hover {
    color: #f4f6f7;
    text-decoration: none;
}
.nav {
    float: left;
    margin-top: 4px;
    font-size: 13px;
    height: 45px;
}
.nav ul li {
    display: inline-block;
    width: fit-content;
    font-size: 13px;
    text-align: center;
    padding: 4px 7px;
    border-bottom: solid 3px transparent;
    border-radius: 5px 5px 0 0;
    transition: all 0.4s;
}
ul {
    padding-inline-start: 15px;
    margin: 0;
}
.nav ul li:hover {
    border-bottom: solid 3px #ad9750;
    background-color: rgba(255,255,255,0.1);
    color: #f4f6f7;
}
.socials ul li{
    float: right;
    list-style-type: none;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 3px;
}
.socials a {
    color: #a7b6a7;
}
.socials a:hover {
    color: #5a7656;
}
.title {
    background-color: #ad9750;
    text-align: center;
    color: #c4cec5;
    padding: 25px;
}
h1 {
    font-size: 70px;
    font-family: 'Petit Formal Script', Arial, Helvetica, sans-serif;
}
.game-des {
    background-color:#061306;
}
.web-dev {
    background-color: #37563b;
}
.game-des a {
    color: #f4f6f7;
    text-decoration: none;
    transition: transform 0.6s
}
.web-dev a {
    color: #f4f6f7;
    text-decoration: none;
    transition: transform 0.6s
}
.team-manage {
    background-color: #5a7656;
}
.photog {
    background-color: #f4f6f7;
}
.team-manage a {
    color: #061306;
    text-decoration: none;
    transition: transform 0.6s
}
.photog a {
    color: #061306;
    text-decoration: none;
    transition: transform 0.6s;
}
.skills a:hover {
    transform: scale(1.6);
}
.skills i {
    font-size: 100px;
}
.about h2 {
    padding: 90px 0 0 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #294836;
}
.about p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    padding: 15px 0 120px 60px;
}
.about {
    background-color: #a7b6a7;
}
.photo {
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ad9750;
}
.photo img {
    width: 100%;
}
.skills p {
    height: 330px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
.current {
    background-color: #44633f;
    height: 500px;
}
.current h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    color: #f4f6f7;
}
.contact {
    text-align: center;
    background-color: #294836;
}
.contact h2 {
    padding: 65px 0 30px 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: linen;
}
.button-green {
    background-color: #a7b6a7;
    width: 290px;
    height: 60px;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 75px;
    box-shadow: 3px 3px 8px 0 #ad9750, 0 3px 10px 0 #ad9750;
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
}
.button-green:hover {
    transform: translateY(-8px);
    box-shadow: 3px 7px 10px 0 #ad9750, 0 3px 15px 0 #ad9750;
}
.contact a{
    color: #182e1e;
    text-decoration: none;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #061306;
    font-size: 20px;
}
footer p {
    margin: 0;
    color: #ad9750;
}
p {
    margin-bottom: 0;
}
h2 {
    margin-bottom: 0;
}
.hamburger {
    display: none;
}
.nav ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}
@media (max-width:450px) {
    .hamburger .nav {
        margin-left: auto;
    }
    .hamburger {
        display: block;
        font-size: 30px;
        float: left;
        padding: 5px 0px 5px 15px;
    }
    .nav nav {
        padding: 20px;
    }
    .nav {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        height: 0px;
        z-index: 99;
        transition: height 0.6s;
        overflow: hidden;
        float: none;
        margin-top: 0;
    }
    .nav.open {
        height: 320px;
    }
    .nav ul {
        margin: 0;
        padding:0;
    }
    .nav ul li {
        display: block;
        font-size: 35px;
        margin: 0;
        text-align: left;
    }
}
.grid-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.grid {
background: #182e1e;
margin: 0 auto;
opacity: 0;
border: solid 3px #294836;
width: 100%;
}

.grid:after {
content: '';
display: block;
clear: both;
}

.grid-item {
height: 200px;
width: 200px;
border: 2px solid #294836
}

.grid-item--width2 { width: 400px; }
.grid-item--height2 { height: 400px; }

.grid-1 {
    background: url(../images/cat-pond.jpg) no-repeat center center;
    background-size: cover;
}
.grid-2 {
    background: url(../images/brick-weed.jpg) no-repeat center center;
    background-size: cover;
}
.grid-3 {
    background: url(../images/orange-gate.jpg) no-repeat center center;
    background-size: cover;
}
.grid-4 {
    background: url(../images/bulb.jpg) no-repeat center center;
    background-size: cover;
}
.grid-5 {
    background: url(../images/purple-plants.jpg) no-repeat center center;
    background-size: cover;
}
.grid-6 {
    background: url(../images/kooka.jpg) no-repeat center center;
    background-size: cover;
}
.grid-7 {
    background: url(../images/ped-tunnel.jpg) no-repeat center center;
    background-size: cover;
}
.grid-8 {
    background: url(../images/pond.jpg) no-repeat center center;
    background-size: cover;
}
.grid-9 {
    background: url(../images/skates.jpg) no-repeat center center;
    background-size: cover;
}
.grid-10 {
    background: url(../images/koi.jpg) no-repeat center center;
    background-size: cover;
}
.grid-11 {
    background: url(../images/chicks.jpg) no-repeat center center;
    background-size: cover;
}
.grid-13 {
    background: url(../images/stained-dome.jpg) no-repeat center center;
    background-size: cover;
}
.grid-14 {
    background: url(../images/road-flora.jpg) no-repeat center center;
    background-size: cover;
}
.grid-15 {
    background: url(../images/dog.jpg) no-repeat center center;
    background-size: cover;
}
.grid-16 {
    background: url(../images/qvb-clock.jpg) no-repeat center center;
    background-size: cover;
}
.grid-17 {
    background: url(../images/wysteria.jpg) no-repeat center center;
    background-size: cover;
}
.grid-12 {
    background: url(../images/kissing-gate.jpg) no-repeat center center;
    background-size: cover;    
}
.gallery{
    background-color: #061306;
    text-align: center;
    padding: 80px 0;
}
.gallery h2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a7b6a7;
    padding-bottom: 25px;
}
.prev-exp {
    background-color: #a7b6a7;
    text-align: center;
    padding: 60px 0;
}
.prev-exp h2 {
    font-size: 45px;
    color: #294836;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0 15px 0;
}
.prev-exp {
    font-size: 22px;
    color: #061306;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 350px 70px 350px;
}
.na{
    color: #a7b6a7;
    height: 330px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #182e1e;
    border-radius: 10%;
}
.ts{
    color: #a7b6a7;
    height: 330px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #182e1e;
    border-radius: 10%;
}